/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  11. Global styles for Contact Form
 */
 body{
  font-family: 'Karla', sans-serif;}

.page {
  background: #d8edd8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 2.5rem;
  width: 100%;
  max-width: 636px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;
}

.label {
  font-size: 12px;
  color: #333;
}

.required {
  color: #e24b4a;
  margin-left: 2px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  height: 100px;
  resize: none;
  outline: none;
  width: 100%;
  margin-bottom: 1.5rem;
}

.radioGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.radioOption {
  color: #2A4144;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.checkboxRow {
  display: flex;
  gap: 8px;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.submitBtn {
  width: 100%;
  background: #1a6e50;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 13px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 500px) {
  .row {
    grid-template-columns: 1fr;
  }

  .radioGroup {
    grid-template-columns: 1fr;
  }

  .page{
    padding-inline: 16px;
  }

  .input{
    padding: 10px 10px;
  }
}